<div class="titulo2">
    EXPERIENCIA 
</div>
<br>
<br>
<div class="experiencia">
  <div class="row align-items-start">
    <div class="col-3">
        <div class="editexp">
            <app-editoredu></app-editoredu>
        </div>
      <h5><strong>JUNIOR LEGAL ENGINEER</strong></h5>
      WOW Legal Experience. 
      <p><small>Actualidad (onlline- part-time)</small></p>
      <ol class="tareas"> 
        <li><a href="">Tareas desarrolladas</a>
            <ol>
              <small>
                <li type="disc">Consultoría y lecciones de diseño y tecnología legal</li>
                <li type="disc">Creación de pdf interactivos, revista digital.</li>
                <li type="disc">Desarrollar y mejorar la página web.</li>
                <li type="disc">Creación de contenidos para marketing, telemarketing y redes.</li>
                <li type="disc">Contacto con clientes en diferentes idiomas.</li>
                <li type="disc">Representación en eventos.</li>
                <li type="disc">Co-creación del portfolio.</li> 
                <li type="disc">Creacion y diseño de formularios UX.</li> 
                <li type="disc">Redaccion de textos y copyright.</li> 
              </small>
            </ol>
        </li>
      </ol> 
    </div>  

    <div class="col-3">
        <div class="editexp">
            <app-editoredu></app-editoredu>
        </div>
      <h5><strong>PARALEGAL</strong></h5>
      "Leconte y Asociados".
      <p><small>2017 y 2020</small></p>
      <ol class="tareas"> 
        <li><a href="">Tareas desarrolladas</a>
            <ol>
              <small>
                <li type="disc">Gestión de documentación.</li>
                <li type="disc">Soporte en asuntos legales comerciales y familiares.</li>
                <li type="disc">Control y cumplimiento de plazos de presentaciones.</li>
                <li type="disc">Contacto directo con sub-contratados.</li>
              </small>
            </ol>
        </li>
      </ol>
    </div>

    <div class="col-3">
        <div class="editexp">
            <app-editoredu></app-editoredu>
        </div>
      <h5><strong>ADMINNISTRATIVA</strong></h5>
      “Dulces Ñapi-ú SRL”(ARG). 
      <p><small>Verano 2017 y 2018</small></p>
      <ol class="tareas"> 
        <li><a href="">Tareas desarrolladas</a>
            <ol>
              <small>
                <li type="disc">Contacto con proveedores, pre y post venta.</li>
                <li type="disc">Gestion de nuevos pedidos/ordenes.</li>
                <li type="disc">Atención al cliente.</li>
                <li type="disc">Cobros y pagos.</li>
                <li type="disc">Gestión de agenda.</li>
                <li type="disc">Control de estado de la mercaderia.</li>
              </small>
            </ol>
        </li>
      </ol>
    </div>

    <div class="col-3">
        <div class="editexp">
            <app-editoredu></app-editoredu>
        </div>
      <h5><strong>COORDINADORA DE VOLUNTARIO</strong></h5>
      "Buen Samaritano SJ". 
      <p><small>2016-2018</small></p>
      <ol class="tareas"> 
        <li><a href="">Tareas desarrolladas</a>
            <ol>
              <small>
                <li type="disc">Captación de nuevos voluntarios.</li>
                <li type="disc">Captación de inversores.</li>
                <li type="disc">Organización del equipo.</li>
                <li type="disc">Planificación de proyectos y eventos.</li>
                <li type="disc">Creación de contenidos.</li>
              </small>
            </ol>
        </li>
      </ol>
    </div>
  </div>
  <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
