.titulo1 {
    color:aliceblue;
    margin-top: 5%;
    text-align: right;
    width:650px;
    padding:20px;
    background-color:rgb(72, 76, 104) !important;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
    letter-spacing:3px;

}

.educacion {
    color:aliceblue;
    margin-left: 0%;
    font-family: "futura-pt", sans-serif;
    font-weight: 200;
    //font-style: bold;//
    font-size: large;
    letter-spacing:1px;
}
.td {
    text-align: right;
    margin-right: -3%;
    
}

.austral {
    text-align: right;
    margin-left: 30%;
    margin-right: -3%;
    margin-top: 15%; 
}
.derecho{
    text-align: right;
    margin-left: 30%;
    margin-right: -3%;
    margin-top: 18%; 
}
.programacion {
    text-align: left;
    margin-top: 20%;
    margin-left: 3%;
}
.mediacion{
    margin-top: 23%;
    margin-left: 3%;
}

.linecenter{
    color: aliceblue;
    border-left: thick solid #ffffff;
    height: 95%;
    width: 3%;
    position: absolute;
    left: 50%;
    margin-left: 1%;
    padding: 0%;
}

.editar{
    color: #ffffff;
}