.info {
    color: aliceblue;
    font-style: italic;
    letter-spacing:3px;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.edit {
   margin-left: 50%;
}

    