<div class="container text-center">
    <div class="info">
      <br>
      <br>
      <br>
    <div class="edit">
      <app-editornomydatos></app-editornomydatos>
    </div>
      He estudiado derecho, enfoco mi carrera en el área tecnológica y digital, y creo fielmente en la innovación del sector legal. Me gusta ayudar, guiar y liderar. Soy una persona que se adapta muy bien y rápidamente a los cambios y, sobre todo, no me dan miedo. He tenido la oportunidad de desarrollar habilidades en el área de la atención al cliente. Trabajo de forma activa y responsable. Me considero una persona disciplinada y acostumbrada a manejar grandes volúmenes de trabajo, sabiendo priorizar las tareas a realizar. Mi objetivo es crecer tanto profesional como personalmente
      <br>
      <br>
      <br>
      <br>
    </div>
</div>
