<div class="editor">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaledu"> 
                <i class="fa-solid fa-plus fa-xs"></i>
            </button>
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modaledu"> 
                <i class="fa-solid fa-pen fa-xs"></i>
            </button>
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nddtdv"> 
                <i class="fa-solid fa-trash fa-xs"></i>
            </button>
        </li> 
        
    </ul>
</div>


