.titulo {
    color:aliceblue;
    margin-top: 5%;
    text-align: right;
    width:650px;
    padding:20px;
    background-color:rgb(171, 79, 74) !important;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: xx-large;
    letter-spacing:3px;
}

.habilidades {
    margin-top: 5%;
    color: aliceblue;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-size: x-large;
    letter-spacing:3px;
    margin-left: 2%;
}
.profesionales{
    margin-top: 5%;
    margin-left: 2%;
}
ul {
    list-style: none;
    margin-left: -5%;
    font-size: medium;
}
.circle1 {
    background: rgb(209, 157, 155);
    border-radius: 50%;
    width: 100px;
    height: 100px
}
.edithab {
    margin-left: -30%;
    margin-top: 40%;
}


.personales{
    margin-top: 5%;
    margin-left: 2%;
}
.circle2 {
    background: rgb(210, 131, 128);
    border-radius: 50%;
    width: 100px;
    height: 100px
}

