<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="http://localhost:4200/educacion">Eduación</a></li>
      <li><a class="dropdown-item" href="http://localhost:4200/experiencia">Experiencia</a></li>
      <li><a class="dropdown-item" href="http://localhost:4200/habilidades">Habilidades</a></li>
      <li><a class="dropdown-item" href="http://localhost:4200/idiomas">Idiomas</a></li>
      <li><a class="dropdown-item" href="http://localhost:4200/inicio">Inicio</a></li>
    </ul>
  </div>
