i.fa-solid.fa-user-lock:hover, i.fa-right-from-bracket.fa-1xl:hover, i.fa-brands.fa-github.fa-1xl:hover,  i.fa-solid.fa-user.fa-1xl:hover, i.fa-solid.fa-envelope:hover,i.fa-brands.fa-linkedin.fa-1xl:hover {
    color: rgb(196, 51, 51); 
}
i.fa-solid.fa-user-lock, i.fa-brands.fa-linkedin.fa-1xl, i.fa-brands.fa-github.fa-1xl,  i.fa-right-from-bracket.fa-1xl, i.fa-solid.fa-envelope{
    color: aliceblue; 
   
}

.list-group-item {
    --bs-list-group-bg:transparent;
    border:transparent;    
}

