<ul class="list-group list-group-horizontal">
    <!--Linkedin-->
    <li class="list-group-item"><a href="https://www.linkedin.com/feed/" target="_blank">
      <i class="fa-brands fa-linkedin fa-1xl" type="button"></i>
    </a></li>
    <!--Github-->
    <li class="list-group-item"> <a href="https://github.com/JosefinaOddone" target="_blank">
      <i class="fa-brands fa-github fa-1xl"type="button"></i>
    </a></li>
    <!--Mail-->
    <li class="list-group-item"> <a href="mailto:josefinaoddone@icloud.com" target="_blank"> 
      <i class="fa-solid fa-envelope"></i>
    </a></li>
    <!-- Button LogIn -->
    <li class="list-group-item">
      <i class="fa-solid fa-user-lock fa-1xl" type="button" data-bs-toggle="modal" data-bs-target="#modallogin"> 
      </i>
    </li>
</ul>