.titulo {
    color:aliceblue;
    margin-top: 5%;
    text-align: right;
    width:650px;
    padding:20px;
    background-color:rgb(72, 76, 104) !important;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: xx-large;
    letter-spacing:3px;
}

.habilidades {
    margin-top: 5%;
    color: aliceblue;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-size: x-large;
    letter-spacing:3px;
    margin-left: 2%;
}
.profesionales{
    margin-top: 5%;
    margin-left: 2%;
}
ul {
    list-style: none;
    margin-left: -5%;
    font-size: medium;
}
.circle1 {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px
    
}
.personales{
    margin-top: 5%;
    margin-left: 2%;
}
.circle2 {
    background: rgb(186, 155, 195);
    border-radius: 50%;
    width: 100px;
    height: 100px
}

