<div class="titulo">
    HABILIDADES
</div>
<div class="habilidades">
    <div class="row align-items-start">
        <div class="col-1">
            <div class="circle1"></div>
        </div>
        <div class="col-5">
            <div class="profesionales">
                <p>Profesionales</p>   
                    <ul>
                        <li >Adobe Creative Cloud</li>
                        <li >Google Workspace</li>
                        <li >HTML</li>
                        <li >CSS</li>
                        <li >Angular</li>
                    </ul>
            </div>
        </div>
        <div class="col-1">
            <div class="circle2"></div>
        </div>
        <div class="col-5">
            <div class="personales">
                <p>Personales</p>
                <ul>
                    <li >Resolución de problemas</li>
                    <li >Trabajo en equipo</li>
                    <li >Responsabilidad</li>
                    <li >Organización</li>
                    <li >Educación emocional</li>
                </ul>
            </div>
        </div>
    </div>
</div>