<div class="titulo1">
  EDUCACIÓN
</div>
<br>
<br>

<div class="educacion">
  <div class="row align-items-start">
    <div class="col-2"></div>

    <div class="col-4">
      <div class="uno">
        MASTER EN TRANFORMACIÓN DIGITAL.
        <br>
        <i>Universidad de Salamanca.</i>
        <br>
        <small>2022-Actualidad</small>
      </div>
      <div class="editizq"><app-editoredu></app-editoredu></div>
      
      
      <div class="dos">
         <br>
         DIPLOMA INTERNACIONAL EN CIBERCRIMEN Y TECNOLS. APLICADAS A LA INVESTIGAC.
         <br>
         <i>Universidad Austral.</i>
         <br>
         <small>2021-2022</small>
      </div>
      <div class="editizq"><app-editoredu></app-editoredu></div>

      <div class="tres">
        ABOGACÍA
        <br>
        <i>Universidad Nacional del Nordeste.</i>
        <br>
        <small>2015-2020</small>
      </div> 
      <div class="editizq"><app-editoredu></app-editoredu></div>
    </div>

  <!--linea centro de educacion-->
  <div class="linecenter"></div>
  <div class="col-4">
      <div class="cuatro">
        WEB FULL STACK DEVELOPER
      <br>
      <i>Argentina Programa.</i>
      <br>
      <small>2022-Actualidad</small>
    </div>
    <app-editoredu></app-editoredu>

    <div class="cinco">
      <br>
        MEDIACIÓN
      <br>
      <i>Fundación Americana Interdisciplinaria.</i>
      <br>
      <small>2020</small>
    </div>
      <app-editoredu></app-editoredu>
  </div>

<div class="col-2"></div>
</div>
