.titulo1 {
    color:aliceblue;
    margin-top: 5%;
    text-align: right;
    width:650px;
    padding:20px;
    background-color:rgb(171, 79, 74) !important;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: xx-large;
    letter-spacing:3px;

}

.educacion {
    color:aliceblue;
    margin-left: 0%;
    font-family: "futura-pt", sans-serif;
    font-weight: 200;
    //font-style: bold;//
    font-size: large;
    letter-spacing:1px;
}
.uno {
    text-align: right;
    margin-right: -3%;
}
.editizq {
    margin-left: 70%;
}


.dos {
    text-align: right;
  
    margin-right: -3%;
    margin-top: 18%; 
}
.tres {
    text-align: right;
    margin-right:-3%;
    margin-top: 25%; 
}
.cuatro {
    text-align: left;
    margin-top: 30%;
    margin-left: 3%;
}
.cinco{
    text-align: left;
    margin-top: 23%;
    margin-left: 3%;
}

.linecenter{
    color: aliceblue;
    border-left: thick solid #ffffff;
    height: 110%;
    width: 3%;
    position: absolute;
    left: 50%;
    margin-left: 1%;
}

.editar{
    color: #ffffff;
}



