.titulo3 {
    color:aliceblue;
    margin-top: 5%;
    text-align: right;
    width:650px;
    padding:20px;
    background-color:rgb(171, 79, 74)!important;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing:3px;
    font-size: xx-large;
}
ul {
    list-style: none;
    font-size: medium;
    color: aliceblue;
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 20%;
    font-size: x-large;
}